 /* header */

 .note-item .header-note {
   border-radius: 10px 10px 0 0;
   height: 20%;
   padding: 5px;
   background: blueviolet;
 }

 /* text header note */

 .note-item .text-title {
   height: 100%;
   white-space: nowrap;
   color: #ffffff;
   text-align: center;
   text-overflow: ellipsis;
   overflow: hidden;
 }

 /* icon close */

 .note-item .icon-close {
   color: rgb(245, 28, 9);
   position: relative;
   float: right;
   left: 12px;
   bottom: 20px;
   height: 20px;
   font-size: 20px;
 }

 .note-item .icon-close:hover {
   color: rgb(255, 79, 79);
   transition: all 0.5s;
 }

 /* content */

 .note-item .content-note {
   position: relative;
   padding: 5px 5px;
   width: 100%;
 }

 .note-item .text-note {
   display: -webkit-box;
   position: absolute;
   margin: 5px 10px;
   padding: 0 5px;
   word-break: break-all;
   width: 90%;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 22px;
   -webkit-line-clamp: 5;
   max-height: 7rem;
 }
 /* icon edit */
 .note-item .icon-edit {
   color: rgba(214, 200, 0, 0.911);
   position: relative;
   float: right;
   top: -15px;
   left: 15px;
   font-size: 20px;
 }
 .note-item .icon-edit:hover {
   color: rgb(248, 190, 0);
   border-radius: 2px;
   transition: color 0.5s;
 }

 /* text note */

 .note-item .text-note:hover {
   transition: all 0.5s;
   background: #4DABF7;
   color: #f8f8f8;
   border-radius: 5px;
 }